html {
  box-sizing: border-box;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: linear-gradient(225deg, #111 0%, #fafafa 20%);
}

.moon {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 150px;
  height: 150px;
  background-color: #8bd1cc;
  border-radius: 50%;
  box-shadow: 0 0 0 20px #a2dfdb, 0 0 0 30px #648583, 0 0 0 40px #fafafa;
  filter: blur(10px);
  z-index: 1;
  animation: pulsate 5s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    filter: blur(15px);
  }
  100% {
    transform: scale(1);
  }
}

div.topbar {
  z-index: 2 !important;
  position: relative;
  background: #333 !important;
}

div.scheme-container {
  background: transparent !important;
}
